extends ../default

block content
  .container.mt-5
    .row.justify-content-center
      .col.col-lg-6
        .card
          form(method='POST' action='/api/signup')
            .card-body
              h2.card-title Sign Up
              p.text-muted Register your account
              .input-group.mb-3
                .input-group-prepend
                  .input-group-text
                    span.fas.fa-user
                input.form-control(type='text' id='name' placeholder='Name' name='name')
              .input-group.mb-3
                .input-group-prepend
                  .input-group-text
                    span.fas.fa-envelope
                input.form-control(type='text' id='email' placeholder='Email' name='email')
              .input-group
                .input-group-prepend
                  .input-group-text
                    span.fas.fa-lock
                input.form-control(type='password' id='password' placeholder='Password' name='password')
            .card-footer
              .row.justify-content-end
                button.btn.btn-primary.mr-3(type='submit') Sign up
                a.btn.btn-secondary.mr-3(href='/', role='button') Cancel
