script(type='text/javascript', src='/js/jquery/jquery.min.js')
script(type='text/javascript', src='/js/bootstrap/bootstrap.bundle.min.js')
script(type='text/javascript', src='/js/fontawesome/all.min.js')
script(type='text/javascript', src='/js/sites.js')