mixin flash-messages(messages)
  if messages
    #flash-messages
      each message in messages.info || []
        +flash-message(message, 'info')
      each message in messages.success || []
        +flash-message(message, 'success')
      each message in messages.warning || []
        +flash-message(message, 'warning')
      each message in messages.error || []
        +flash-message(message, 'danger')

mixin flash-message(message, type)
  div(class='alert alert-dismissible fade show alert-' + type, role='alert')
    = message
    button.close(type='button', data-dismiss='alert', aria-label='Close')
      span(aria-hidden='true') ×