mixin skill(skill)
  +skillTd('', skill.name)
  td
    img.img-fluid.portrait-2(src=`/assets/skills/${skill._id}`, onerror=`this.src='/skill_default_avatar.png'`)
  +skillTd(skill.type, skill.type)

mixin skillTd(type, text)
  td(class='text-' + (type === 'Database' ? 'danger' : type === 'Language' ? 'primary' : type === 'Library/Framework' ? 'info' : type === 'Platform' ? 'warning' : type === 'Tool' ? 'success' : 'muted'))
    = text