doctype html
html(lang='en')
  head
    title #{title}
    include partials/styles
    include partials/scripts
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/') Home
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon

      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/tags') Tags
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Settings
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Action1
              .dropdown-divider
              a.dropdown-item(href='#') Action2
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/login') Login

  block content
