include mixin/flash-messages

doctype html
html(lang='en')
  head
    title #{title || 'Admin Panel'}
    include partials/styles
    include partials/scripts
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/') Home
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.navbar-toggler-icon

      .collapse.navbar-collapse
        if user
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/users') Users
            li.nav-item
              a.nav-link(href='/services') Services
            li.nav-item
              a.nav-link(href='/skills') Skills
            li.nav-item
              a.nav-link(href='/Portfolios') Portfolios
            li.nav-item
              a.nav-link(href='/clients') Clients
            li.nav-item
              a.nav-link(href='/testimontials') Testmontials

        ul.navbar-nav.ml-auto
          if !user
            li.nav-item
              a.nav-link(href='/login') Log In
            li.nav-item
              a.nav-link(href='/signup') Sign Up
          else
            li.nav-item
              a.nav-link(href='/logout') Log Out

    +flash-messages(messages)

    .container.py-4
      block content

    .py-5

    include layouts/footer