extends ../default
include ../mixin/check

block content
  h1 #{title}
  .nav.nav-tabs.mt-4
    a.nav-item.nav-link.active(data-toggle='tab', href='#nav-general') General
    a.nav-item.nav-link(data-toggle='tab', href='#nav-security') Security
    a.nav-item.nav-link(data-toggle='tab', href='#nav-details') Details
  .tab-content.py-4.border.bg-light
    include ./edit.general.pug
    include ./edit.security.pug
    #nav-details.tab-pane.fade Details

  .mt-5.d-flex.flex-row.justify-content-center
    .btn.btn-primary.px-4(onclick=`window.open('#', '_blank')`) FrontEnd
    if user.meta.admin || usr._id.equals(user._id)
      .btn.btn-danger.px-4.ml-5(onclick=`confirmDeleting('/api/users/${usr._id}/delete')`) Delete
