#nav-competencies.tab-pane.fade(class=(cur_tab === 'competencies' ? 'show active' : ''))
  form(method='POST', action=`/api/users/${usr._id}?_method=PUT`)
    input.d-none(type='hidden', name='cur_tab', value='competencies')
    .card.mx-4
      .card-body
        label.mt-2(for='profileServicesInput') Services
        select#profileServicesInput.custom-select(name='services', multiple)
          each service in services
            option(value=service._id) #{service.header.title}